@model string

<div class="modal" id="birthdayModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body-birthday">
                <div class="container">
                    <div class="row text-center" style="margin-bottom: 74px;">
                        <span class="birthday-text-header">С днем рождения, @Model!</span>
                    </div>
                    
                    <div class="row text-center">
                        <span class="birthday-text-body">Пусть в жизни будет все, что нужно для счастья, а в работе — все, что нужно для успеха.</span>
                    </div>
                    
                    <div class="row" style="margin-bottom: 62px; margin-top: 80px;">
                        <div class="col">
                            <button data-bs-dismiss="modal" aria-label="Close" type="button" class="btn btn-primary text-center" style="margin-left: 404px; margin-right: 289px;">Здорово!</button>
                            <img style="width: 100px; height: 100px;" src="~/images/BirthdayModal.svg" alt="Default Avatar">
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="width: 950px; height: 10px; background: #FF8600D9;"></div>
            </div>
        </div>
    </div>
</div>