<div class="modal" id="employeeModal">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div class="container">
<div class="row" style="margin-bottom: 50px;">
    <div class="col">
        <span class="modal-text-header">Дроздов Олег викторович</span>
    </div>
</div>

<div class="row">
    <div class="col">
        <img src="~/images/DefaultEmployeeAvatar.svg" alt="Default Avatar">
    </div>
    <div class="col">
        <div class="row">
            <span class="modal-param-text">Дата рождения:</span>
        </div>
        <div class="row">
            <span class="modal-param-text">Организация:</span>
        </div>
        <div class="row">
            <span class="modal-param-text">Город:</span>
        </div>
        <div class="row">
            <span class="modal-param-text">Мобильный телефон:</span>
        </div>
        <div class="row">
            <span class="modal-param-text">Рабочий телефон:</span>
        </div>
        <div class="row">
            <span class="modal-param-text">График работы:</span>
        </div>
        <div class="row">
            <span class="modal-param-text">Адрес электронной почты:</span>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <span class="modal-value-text">15.03.XXXX</span>
        </div>
        <div class="row">
            <span class="modal-value-text">DirectumRX</span>
        </div>
        <div class="row">
            <span class="modal-value-text">Екатеринбург</span>
        </div>
        <div class="row">
            <span class="modal-value-text">+7 (***) *** - ** - **</span>
        </div>
        <div class="row">
            <span class="modal-value-text">+8 (*****) * - ** - **</span>
        </div>
        <div class="row">
            <span class="modal-value-text">8:00 - 18:00</span>
        </div>
        <div class="row">
            <span class="modal-value-text">**********directum.ru</span>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-sm-3">
        <div class="row">
            <span class="modal-param-text-2">Должность:</span>
        </div>
        <div class="row">
            <span class="modal-param-text-2">Подразделение:</span>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <span class="modal-value-text-2">Менеджер по продажам</span>
        </div>
        <div class="row">
            <span class="modal-value-text-2">Отдел продаж</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="row">
        <span class="modal-param-text-2">Кадровые изменения:</span>
    </div>
</div>

<div class="row" style="margin-top: 26px;">
    <div class="col-sm-3">
        <div class="row">
            <span class="modal-value-text-2">Период:</span>
        </div>
        <div class="row">
            <span class="modal-value-text-2">Организация:</span>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <span class="modal-value-text-2">01.06.2023 - 31.12.2023</span>
        </div>
        <div class="row">
            <span class="modal-value-text-2">DirectumRX</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <span class="modal-value-text-2">Изменения по должности или подразделению:</span>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col">
        <table class="table table-bordered">
            <thead class="table-header-text">
            <tr>
                <td rowspan="2" class="top-left-cell">Дата</td>
                <td colspan="2" class="text-center">Подразделение</td>
                <td colspan="2" class="text-center">Должность</td>
            </tr>
            <tr>
                <td>Предыдущее</td>
                <td>Нынешнее</td>
                <td>Предыдущая</td>
                <td>Нынешняя</td>
            </tr>
            </thead>
            <tbody class="table-body-text">
            <tr>
                <td>01.08.2023</td>
                <td>Отдел продаж</td>
                <td>Отдел маркетинга</td>
                <td>Аналитик</td>
                <td>Менеджер по продажам</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col">
        <span class="modal-value-text-2">Информация о приеме на работу/увольнении:</span>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-sm-3">
        <div class="row">
            <span class="modal-work-text">Дата приема на работу:</span>
        </div>
        <div class="row">
            <span class="modal-work-text">Дата увольнения:</span>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <span class="modal-work-text">01.08.2023</span>
        </div>
        <div class="row">
            <span class="modal-work-text">—</span>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col">
        <span class="modal-value-text-2">Информация о смене фамилии</span>
    </div>
</div>

@if (false)
{
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3">
            <div class="row">
                <span class="modal-work-text">Устаревшие данные:</span>
            </div>
            <div class="row">
                <span class="modal-work-text">Обновленные данные:</span>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <span class="modal-work-text">Смирнова Полина Артемовна</span>
            </div>
            <div class="row">
                <span class="modal-work-text">Потапова Полина Артемовна (изменено 08.12.2023)</span>
            </div>
        </div>
    </div>
}
else
{
    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <span class="modal-work-text">Информация отсутствует</span>
        </div>
    </div>
}
</div>
</div>
<div class="modal-footer" style="width: 950px; height: 23px; background: #FF8600D9;"></div>
</div>
</div>
</div>